.example-spacer {
  flex: 1 1 auto;
}
.navbar-main {
  --mat-toolbar-container-text-color: white;
  --mat-toolbar-container-background-color: #352F44;
  height: 48px;

}
.example-container{
  height: 93.1vh !important;
}
.example-sidenav{
  width: 15.5vw;
  padding-top: 1px;
  background-color: #5C5470;
}
.container-menu-design{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btn-menu{
  cursor: pointer !important;
  padding: 10px;
  color: white !important;
}
.btn-menu:hover{
  background-color: #B9B4C7;
}
.color-white{
  color: #FAF0E6 !important;
}
.container-version{
  display: flex;
  justify-content: center;
  align-items: end;
}
.menu-sections{
  padding: 10px;
  color: black;
}
.desplegable-notificaciones{
  padding: 10px;
}
.container-notify{
  color: black;
  font-style: italic;
  font-size: 12.5px;
  padding: 10px;
}
.example-icon{
  color: #FAF0E6;
}
