.example-spacer {
  flex: 1 1 auto;
}
.navbar-main {
  --mat-toolbar-container-text-color: white;
  --mat-toolbar-container-background-color: #3f51b5
}
.example-container{
  height: 100vh !important;
}
.example-sidenav{
  width: 15.5vw;
  padding-top: 55px;
  background-color: #3f51b5;
}
.btn-menu{
  cursor: pointer !important;
  padding: 10px;
  color: white !important;
}
.btn-menu:hover{
  background-color: hsl(231, 42%, 33%);
}
.color-white{
  color: white !important;
}
.container-version{
  display: flex;
  justify-content: center;
  align-items: end;
}
.menu-sections{
  padding: 10px;
  color: white;
}
.desplegable-notificaciones{
  padding: 10px;
}
.container-notify{
  color: black;
  font-style: italic;
  font-size: 12.5px;
  padding: 10px;
}
