<section class="section-nuevo-contratos">
  <mat-stepper #stepper class="container-stepper">
    <mat-step>
      <form class="form-container" (ngSubmit)="onFormSubmit()">
        <ng-template matStepLabel>Seleccionar propietario</ng-template>
        <div class="container-search-propietario">
          <mat-form-field class="example-form-field">
            <mat-label>Buscar propietario</mat-label>

            <input matInput type="text">
          </mat-form-field>
          <div class="example-button-container">
            <button mat-mini-fab color="primary" type="submit">
              <mat-icon>search</mat-icon>
            </button>
          </div>
        </div>
        <div class="container-btn-newContract-first">
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
      <div *ngIf="showSearchComponent">

        <app-propietarios-search [searchTerm]="searchTermControl.value"/>
      </div>
    </mat-step>

    <mat-step [stepControl]="secondFormGroup" label="Seleccionar propiedad">
      <app-seleccionar-propiedad></app-seleccionar-propiedad>
        <div class="container-btn-newContract">
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
    </mat-step>
    <mat-step [stepControl]="thirdFormGroup" label="Agregar inquilino">
      <app-agregar-inquilino [formGroup]="thirdFormGroup"></app-agregar-inquilino>
    </mat-step>
    <mat-step [stepControl]="roomFormGroup" label="Agregar garantes">
      <app-agregar-garantes></app-agregar-garantes>
      <div class="container-btn-newContract">
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Generar contrato</ng-template>
      <app-generar-contrato></app-generar-contrato>
      <div class="container-btn-newContract">
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-stepper>

</section>
