<section class="section-nuevo-contratos">
  <h2>Nuevo contrato</h2>
  <button (click)="goBack()" class="btn-back">Volver atrás</button>
  <mat-horizontal-stepper [linear]="isLinear" #stepper class="container-stepper">
  <!-- Seleccionar propietario -->
  <mat-step label="step1" completed="false"
    [stepControl]="firstFormGroup" errorMessage = "Campo requerido">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Seleccionar propietario</ng-template>
      <mat-form-field>
        <mat-label>Propietario</mat-label>
        <input matInput placeholder="Propietario" formControlName="firstCtrl" required>
      </mat-form-field>
      <div class="container-unique-btn">
        <button mat-button matStepperNext class="btn-stepper">Siguiente</button>
      </div>
    </form>
  </mat-step>

  <!-- Seleccionar propiedad -->
  <mat-step label="step2" completed="false"
    [stepControl]="secondFormGroup" errorMessage = "Campo requerido">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Seleccionar propiedad</ng-template>
      <mat-form-field>
        <mat-label>Propiedad</mat-label>
        <input matInput placeholder="Propiedad" formControlName="secondCtrl" required>
      </mat-form-field>
      <div class="container-btn-stepper">
        <button mat-button matStepperPrevious class="btn-stepper">Volver</button>
        <button mat-button matStepperNext class="btn-stepper">Siguiente</button>
      </div>
    </form>
  </mat-step>

  <!-- Agregar inquilino -->
  <mat-step label="step3" completed="false"
    [stepControl]="thirdFormGroup" errorMessage = "Campos requeridos">
    <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel>Agregar inquilino</ng-template>
      <mat-form-field>
        <mat-label>Inquilino</mat-label>
        <input matInput placeholder="Inquilino" formControlName="thirdCtrl" required>
      </mat-form-field>
      <div class="container-btn-stepper">
        <button mat-button matStepperPrevious class="btn-stepper">Volver</button>
        <button mat-button matStepperNext class="btn-stepper">Siguiente</button>
      </div>
    </form>
  </mat-step>

  <!-- Agregar garantes -->
  <mat-step label="step4" completed="false"
    [stepControl]="fourthFormGroup" errorMessage = "Campos requeridos">
    <form [formGroup]="fourthFormGroup">
      <ng-template matStepLabel>Agregar garantes</ng-template>
      <mat-form-field>
        <mat-label>Garantes</mat-label>
        <input matInput placeholder="Garantes" formControlName="fourthCtrl" required>
      </mat-form-field>
      <div class="container-btn-stepper">
        <button mat-button matStepperPrevious class="btn-stepper">Volver</button>
        <button mat-button matStepperNext class="btn-stepper">Siguiente</button>
      </div>
    </form>
  </mat-step>

  <!-- Generar contrato -->
  <mat-step label="step5" completed="false"
    [stepControl]="fifthFormGroup" errorMessage = "Campos requeridos">
    <form [formGroup]="fifthFormGroup">
      <ng-template matStepLabel>Generar contrato</ng-template>
      <mat-form-field>
        <mat-label>Fecha inicio</mat-label>
        <input matInput placeholder="Fecha Inicio" formControlName="fiveCtrl" required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Fecha fin</mat-label>
        <input matInput placeholder="Fecha fin" formControlName="sixCtrl" required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Monto</mat-label>
        <input matInput placeholder="Fecha monto" formControlName="sevenCtrl" required>
      </mat-form-field>
      <div class="container-btn-stepper">
        <button mat-button matStepperPrevious class="btn-stepper">Back</button>
        <button mat-button class="btn-stepper">Generar contrato</button>
      </div>
    </form>
  </mat-step>
  </mat-horizontal-stepper>
</section>

