<section class="section-nuevo-contratos">
  <h2>Nuevo contrato</h2>
  <button (click)="goBack()" class="btn-back">Volver atrás</button>
  <mat-horizontal-stepper [linear]="isLinear" #stepper class="container-stepper">
  <!-- Seleccionar propietario -->
  <mat-step label="step1" completed="false"
    [stepControl]="firstFormGroup" errorMessage = "Campo requerido">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Seleccionar propietario</ng-template>
      <mat-form-field>
        <mat-label>Propietario</mat-label>
        <input matInput placeholder="Propietario" formControlName="firstCtrl" required>
      </mat-form-field>
      <div class="container-unique-btn">
        <button mat-button matStepperNext class="btn-stepper" (click)="goForward(stepper, 1)">Siguiente</button>
      </div>
    </form>
  </mat-step>

  <!-- Seleccionar propiedad -->
  <mat-step label="step2" completed="false"
    [stepControl]="secondFormGroup" errorMessage = "Campo requerido">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Seleccionar propiedad</ng-template>
      <mat-form-field>
        <mat-label>Propiedad</mat-label>
        <input matInput placeholder="Propiedad" formControlName="secondCtrl" required>
      </mat-form-field>
      <div class="container-btn-stepper">
        <button mat-button matStepperPrevious class="btn-stepper">Volver</button>
        <button mat-button matStepperNext class="btn-stepper" (click)="goForward(stepper, 2)">Siguiente</button>
      </div>
    </form>
  </mat-step>

  <!-- Agregar inquilino -->
  <mat-step label="step3" completed="false"
    [stepControl]="thirdFormGroup" errorMessage = "Campos requeridos">
    <form>
      <ng-template matStepLabel>Agregar inquilino</ng-template>
      <app-agregar-inquilino required (nextStep)="logNextStepEvent(stepper)"></app-agregar-inquilino>
    </form>
  </mat-step>

  <!-- Agregar garantes -->
  <mat-step label="step4" completed="false"
    [stepControl]="fourthFormGroup" errorMessage = "Campos requeridos">
    <form [formGroup]="fourthFormGroup">
      <ng-template matStepLabel>Agregar garantes</ng-template>
      <app-agregar-garantes required (nextStep)="logNextStepEvent(stepper)"></app-agregar-garantes>
    </form>
  </mat-step>

  <!-- Generar contrato -->
  <mat-step label="step5" completed="false"
    [stepControl]="fifthFormGroup" errorMessage = "Campos requeridos">
    <form [formGroup]="fifthFormGroup">
      <ng-template matStepLabel>Generar contrato</ng-template>
      <app-generar-contrato required></app-generar-contrato>
    </form>
  </mat-step>
  </mat-horizontal-stepper>
</section>

