.section-nuevo-contratos{
  margin: 20px 20px 20px 20px;
}
.container-stepper{
  padding: 20px 25px 20px 25px;
  background-color: #fafafa;
}
.form-container{
  width: 100%;
  margin: 20px;
  padding: 10px;
  display: flex;
  flex-flow: column;
  justify-content: center !important;
}
.mat-mdc-text-field-wrapper {
  width: 17%;
}
.container-search-propietario{
  display: flex;
}
.example-button-container{
  padding-top: 9px;
  padding-left: 9px;
}
.container-stepper{
  padding: 20px 25px 20px 25px;
  background-color: #fafafa;
}
.container-unique-btn{
  display: flex;
  justify-content: flex-end;
}
.btn-back{
  color: #352F44 !important;
  background-color: transparent !important;
  border: 0px !important;
  text-decoration: underline;
  cursor: pointer;
}
.btn-stepper{
  color: #352F44 !important;
}
.container-btn-stepper{
  display: flex;
  justify-content: space-between;
}
.stepper-container-component{
  padding-top: 100px !important;
}
