
.section-nuevo-propietario{
  margin: 0px 20px 0px 20px;
}
.form-nuevo-propietario{
  display: flex;
  justify-content: center;
  flex-flow: column;
}
.container-nuevo-propietario{
  width: 100%;
  display: flex;
  justify-content: center;
}
.container-btn{
  display: flex;
justify-content: space-between;
}
.card-nuevo-propietario{
  padding: 30px 50px 30px 50px;
}
.btn_global_design{
  background-color: #352F44 !important;
  color: white !important;
}
.btn-back{
  color: #352F44 !important;
  background-color: transparent !important;
  border: 0px !important;
  text-decoration: underline;
  cursor: pointer;
}
