
.section-nuevo-propietario{
  margin: 0px 20px 0px 20px;
}
.form-nuevo-propietario{
  display: flex;
  justify-content: center;
  flex-flow: column;
}
.container-nuevo-propietario{
  width: 100%;
  display: flex;
  justify-content: center;
}
.container-btn{
  display: flex;
justify-content: space-between;
}
.card-nuevo-propietario{
  padding: 30px 50px 30px 50px;
}
