.header-inicio {
  margin: 0px 20px 0px 20px;
}
.container-inicio{
  display: flex;
  justify-content: center;
  text-align: center;
}
.btn_global_design{
  background-color: #352F44 !important;
  color: white !important;
}
