

  <!-- <mat-form-field>
    <mat-label>Nombre</mat-label>
    <input matInput formControlName="nombreCtrl" required>
  </mat-form-field>
</div>
<div>
  <mat-form-field>
    <mat-label>Apellido</mat-label>
    <input matInput formControlName="apellidoCtrl" required>
  </mat-form-field>
</div>
<div>
  <mat-form-field>
    <mat-label>DNI</mat-label>
    <input matInput formControlName="dniCtrl" required>
  </mat-form-field>
</div> -->
<div [formGroup]="thirdFormGroup">
  <mat-label>Nombre</mat-label>
  <input matInput formControlName="nombreCtrl" required>
  <mat-label>Apellido</mat-label>
  <input matInput formControlName="apellidoCtrl" required>
  <mat-label>DNI</mat-label>
  <input matInput formControlName="dniCtrl" required>
</div>
<div class="container-btn-newContract">
  <button mat-button matStepperPrevious>Back</button>
  <button mat-button matStepperNext>Next</button>
</div>
