.section-contratos{
  margin: 0px 20px 0px 20px;
}
.example-button-row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0px 5px 0px;
  padding: 5px 0px 5px 0px;
}
.new-contratos{
  padding: 18px;
  font-size: 15px;
}
.contratos-th{
  text-align: center !important;
}
.container-spinner{
  display: flex;
  justify-content: center;
  align-items: center;
}
.estado-contrato-vigente {
  color: green;
  text-transform: uppercase;
  font-weight: 500;
}
.estado-contrato-finalizado {
  color: orange;
  text-transform: uppercase;
  font-weight: 500;
}
.estado-contrato-cancelado {
  color: red;
  text-transform: uppercase;
  font-weight: 500;
}
