.section-contratos{
  margin: 0px 20px 0px 20px;
}
.example-button-row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0px 5px 0px;
  padding: 5px 0px 5px 0px;
}
.new-contratos{
  padding: 18px;
  font-size: 15px;
}
.contratos-th{
  text-align: center !important;
}
.container-spinner{
  display: flex;
  justify-content: center;
  align-items: center;
}
.estado-contrato-vigente {
  color: green;
  text-transform: uppercase;
  font-weight: 500;
}
.estado-contrato-finalizado {
  color: orange;
  text-transform: uppercase;
  font-weight: 500;
}
.estado-contrato-cancelado {
  color: red;
  text-transform: uppercase;
  font-weight: 500;
}
.btn_global_design{
  background-color: #352F44 !important;
  color: white !important;
}
.text-grids-empty{
  text-align: center;
  font-size: 18px;
  margin: 20px 0px 20px 0px;
  font-style: italic;
  color: #352F44;
}
