<section class="section-nueva-propiedad">
  <h2>Nueva propiedad</h2>
  <button (click)="goBack()" class="btn-back">Volver atrás</button>
  <div class="container-nueva-propiedad">
    <mat-card class="card-nueva-propiedad">
      <form action="" class="form-nueva-propiedad">
        <h4>Completar datos de la propiedad:</h4>
        <mat-form-field>
          <mat-label>Propietario</mat-label>
          <input matInput type="text" [(ngModel)]="inputSearch" [ngModelOptions]="{standalone: true}" (change)="onInputChange($event)" required>
          <mat-select #select (selectionChange)="onPropietarioSelected($event.value)">
            <mat-option *ngFor="let propietario of propietariosEncontrados" [value]="propietario.id_propietario">{{propietario.nombre+', '+propietario.apellido}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Tipo de propiedad</mat-label>
          <input matInput type="text" [(ngModel)]="nuevaPropiedad.tipo" [ngModelOptions]="{standalone: true}" required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Dirección</mat-label>
          <input matInput type="text" [(ngModel)]="nuevaPropiedad.direccion" [ngModelOptions]="{standalone: true}" required>
        </mat-form-field>
        <div class="container-btn">
          <button mat-raised-button color="warn" class="new-propiedad" (click)="navigateTo('/propiedades')" routerLinkActive="active">Cancelar</button>
          <button mat-raised-button class="new-propiedad btn_global_design" (click)="guardarPropiedad()">Guardar</button>
        </div>
      </form>
    </mat-card>
  </div>
</section>

