
.section-nueva-propiedad{
  margin: 0px 20px 0px 20px;
}
.form-nueva-propiedad{
  display: flex;
  justify-content: center;
  flex-flow: column;
}
.container-nueva-propiedad{
  width: 100%;
  display: flex;
  justify-content: center;
}
.container-btn{
  display: flex;
justify-content: space-between;
}
.card-nueva-propiedad{
  padding: 30px 50px 30px 50px;
}
.btn_global_design{
  background-color: #352F44 !important;
  color: white !important;
}
