<section class="section-propiedades">
  <h2>Propiedades</h2>

  <div>
    <div class="example-button-row">
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Buscar propiedad</mat-label>
          <input matInput disabled>
          <mat-hint>Buscador</mat-hint>
        </mat-form-field>
      </div>
      <div>
        <button mat-raised-button color="primary" class="new-propiedades" (click)="navigateTo('/propiedades/nueva-propiedad')" routerLinkActive="active">Nueva propiedad</button>
      </div>
      </div>
    <div class="mat-elevation-z8">
      <div *ngIf="isLoading" class="container-spinner">
        <mat-spinner></mat-spinner>
      </div>
      <table mat-table [dataSource]="dataSource" *ngIf="!isLoading">

        <!-- Position Column -->
        <ng-container matColumnDef="nro">
          <th mat-header-cell *matHeaderCellDef class="propiedades-th"><b>Nro.</b></th>
          <td mat-cell *matCellDef="let element" class="propiedades-th"> {{element.posicion}} </td>
        </ng-container>

        <ng-container matColumnDef="propietario">
          <th mat-header-cell *matHeaderCellDef class="propiedades-th"><b>Propietario</b></th>
          <td mat-cell *matCellDef="let element" class="propiedades-th"> {{element.propietario}} </td>
        </ng-container>

        <ng-container matColumnDef="tipo_propiedad">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="propiedades-th"><b>Tipo de propiedad</b></th>
          <td mat-cell *matCellDef="let element" class="propiedades-th"> {{element.tipo}} </td>
        </ng-container>

        <ng-container matColumnDef="direccion">
          <th mat-header-cell *matHeaderCellDef class="propiedades-th"><b>Dirección</b></th>
          <td mat-cell *matCellDef="let element" class="propiedades-th"> {{element.direccion}} </td>
        </ng-container>

        <ng-container matColumnDef="fecha_alta">
          <th mat-header-cell *matHeaderCellDef class="propiedades-th"><b>Fecha de alta</b></th>
          <td mat-cell *matCellDef="let element" class="propiedades-th"> {{element.fecha_alta}} </td>
        </ng-container>

        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef class="propiedades-th"></th>
          <td mat-cell *matCellDef="let element" class="propiedades-th">
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                <mat-icon>edit</mat-icon>
                <span>Editar</span>
              </button>
            </mat-menu>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                      showFirstLastButtons
                      itemsPerPage="'Elementos por página:'">
      </mat-paginator>
    </div>
  </div>
</section>


