.section-propiedades{
  margin: 0px 20px 0px 20px;
}
.example-button-row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0px 5px 0px;
  padding: 5px 0px 5px 0px;
}
.new-propiedades{
  padding: 18px;
  font-size: 15px;
}
.propiedades-th{
  text-align: center !important;
}
.container-spinner{
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-edit-propietario{
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  flex-flow: column wrap !important;
}
.container-template-btn{
  display: flex;
  justify-content: end;
}
.btn_global_design{
  background-color: #352F44 !important;
  color: white !important;
}
