body {
  background-color: #3f51b5 !important;
}
.example-form{
  display: flex;
  flex-flow: column;
  padding: 10px;
}
.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #3f51b5;
}
.container-btn-login{
  display: flex;
  justify-content: end;
}
.card-content{
  padding: 50px;
}
.container-spinner{
  display: flex;
  justify-content: center;
  align-items: center;
}
