
.example-form{
  display: flex;
  flex-flow: column;
  padding: 10px 30px 10px 30px;
}
.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #352F44;
}
.container-btn-login{
  display: flex;
  justify-content: end;
}
.card-content{
  padding: 50px;
}
.container-spinner{
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn_global_design{
  background-color: #352F44 !important;
  color: white !important;
}

